*{
	box-sizing: border-box;
	color: #fff;
}

@font-face{
	font-family: Verdana;
	src: url('../../../../fonts/Verdana.ttf');
}

.vertical-align-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.template-container{
	margin: 20px;
} 